// BEGIN FOOTER

footer
	div.wrapper
		div.footer-wrapper
			div.footer__item.col-1
				h4.footer__title Кратко о SYM

				p.mt7 SYM- это торговая площадка, где вы можете покупать и <br> продавать 3D модели, текстуры, плагины для различных <br> проектов. Наш магазин начал свою работу в Феврале 2004 <br> года, и сегодня мы являемся одним из крупнейших поставщиков 3D контента в мире. У нас только качественные 3D <br> модели!

			div.footer__item.col-2
				h4.footer__title О проекте
				ul.footer-nav
					li.footer-nav__item: a.footer-nav__link(href="#") Правила
					li.footer-nav__item: a.footer-nav__link(href="#") Сообщество
					li.footer-nav__item: a.footer-nav__link(href="#") Реклама
					li.footer-nav__item: a.footer-nav__link(href="#") Тех. Поддержка
					li.footer-nav__item: a.footer-nav__link(href="#") Отправить сообщение
					li.footer-nav__item: a.footer-nav__link(href="#") Контакты

			div.footer__item.col-3
				h4.footer__title Правовые аспекты
				ul.footer-nav
					li.footer-nav__item: a.footer-nav__link(href="#") Лицензионное соглашение
					li.footer-nav__item: a.footer-nav__link(href="#") Условия использования
					li.footer-nav__item: a.footer-nav__link(href="#") Политика конфиденциальности

			div.footer__item.col-4
				h4.footer__title Свежие обновления
				p Подпишитесь, чтобы получать свежие уроки, скидоч-ные купоны, бесплатные товары и наши новости.
				
				form.subscribe(action="#")
					input.subscribe__input.form-control(type="text", placeholder="Ваш Email")
					input.subscribe__button(type="submit", value="Подписаться")

				p Следуйте за нами

				ul.social
					li.social__item
						a.social__link.social__link_tw(href="#"): <i class="fa fa-twitter" aria-hidden="true"></i>
					li.social__item
						a.social__link.social__link_pin(href="#"): <i class="fa fa-pinterest" aria-hidden="true"></i>
					li.social__item
						a.social__link.social__link_fb(href="#"): <i class="fa fa-facebook" aria-hidden="true"></i>
					li.social__item
						a.social__link.social__link_gp(href="#"): <i class="fa fa-google-plus" aria-hidden="true"></i>
					li.social__item
						a.social__link.social__link_lin(href="#"): <i class="fa fa-linkedin" aria-hidden="true"></i>
					li.social__item
						a.social__link.social__link_ut(href="#"): <i class="fa fa-youtube" aria-hidden="true"></i>
					li.social__item
						a.social__link.social__link_vk(href="#"): <i class="fa fa-vk" aria-hidden="true"></i>

		div.footer-bottom
			p.copy.fl &copy; 2004-2016. Все права защищены.
			p.fr Премиум 3D модели, CG текстуры  | SYM

// FOOTER EOF	