div.popup
	div.window-open#login
		div.window-open-cont
			div.box-form.registration
				h3 Вход
				form(action="#")
					div.box-field
						label.box-field__label E-mail
						div.box-field__input
							input.form-control(type="email")
					div.box-field
						label.box-field__label Пароль
						div.box-field__input
							input.form-control(type="password")
					
					div.box-field.captcha
						label.box-field__label Вы человек?
						div.box-field__input
							img(src="img/captcha.png", alt="")
					

					input.button.button_warning.button_block.box-form__button(type="submit", value="Войти")
					p
						a.link(href="#") Регистрация
						span.devider |
						a.link(href="#") Забыли пароль?
			
			div.enter-social
				p Войти через аккаунт в социальных сетях
				ul.social-wrap.unstyled 
					li.social-wrap__item 
						a.social-wrap__link.fb(href="#"): i.fa.fa-facebook
					li.social-wrap__item 
						a.social-wrap__link.vk(href="#"): i.fa.fa-vk
					li.social-wrap__item 
						a.social-wrap__link.gp(href="#"): i.fa.fa-google-plus
	div.window-open#product
		div.window-open-cont
			div.wrap.product
				div.wrap-right 
					div.product-info
						div.product-info__header
							div.panel.panel_top
								span.panel__item.panel__item_corona: span.ic.ic_corona
								span.panel__item.panel__item_ss: span ss
							span.author от:
								a(href="#") Si Maclencel
								span.ic.ic_models-one
							h1 Name Editorial Illustrations #2
							a.link(href="#") Производитель (если есть)

						ul.link-list.unstyled
							li.link-list__item
								a.link-list__link.link(href="#") Современный дизайн
							li.link-list__item
								a.link-list__link.link(href="#") Геометрический дизайн

						p.
							Описание подвесная полка с цветами
							Выполнена Unwrap UVW развертка <br>
							Cтек не заперт, для ближних планов необходимо...

						p 3dsMax 2014 , fbx,  Vray, Corona


						ul.tags-list.unstyled
							li.tags-list__item
								a.tags-list__link(href="#") цветок
								span ,
							li.tags-list__item
								a.tags-list__link(href="#") полка
								span ,
							li.tags-list__item
								a.tags-list__link(href="#") лимон
								span ,
							li.tags-list__item
								a.tags-list__link(href="#") шеффлера
								span ,
							li.tags-list__item
								a.tags-list__link(href="#") сансевиерия
								span ,
							li.tags-list__item
								a.tags-list__link(href="#") хлорофитум
								span ,
							li.tags-list__item
								a.tags-list__link(href="#") пеперомия
								span ,
						
						div.box-rating.rating
							span.rating__count 24
							input(class="star required" type="radio" name="test-3-rating-5" value="1")
							input(class="star" type="radio" name="test-3-rating-5" value="2")
							input(class="star" type="radio" name="test-3-rating-5" value="3")
							input(class="star" type="radio" name="test-3-rating-5" value="4")
							input(class="star" type="radio" name="test-3-rating-5" value="5")

						div.link-group 
							div.link-group__item
								a.link(href="#") В избранное
							div.link-group__item
								a.link(href="#") Комментировать


						div.box-button
							a.link(href="#") Подробнее
						div.box-button.text-center
							a.link(href="#", download="") Скачать
							

				div.wrap-left 	
					div.product-slider
						div.slider-for
							div.slider-for__item
								img(src="img/product-slider-img-1.png", alt="")
							div.slider-for__item
								img(src="img/product-slider-img-2.png", alt="")
							div.slider-for__item
								img(src="img/product-slider-img-3.png", alt="")
							div.slider-for__item
								img(src="img/product-slider-img-1.png", alt="")
						div.slider-nav.hide 
							div.slider-nav__item
								img(src="img/product-slider-img-1.png", alt="")
							div.slider-nav__item
								img(src="img/product-slider-img-2.png", alt="")
							div.slider-nav__item
								img(src="img/product-slider-img-3.png", alt="")
							div.slider-nav__item.video
								img(src="img/product-slider-img-1.png", alt="")
						

					
									