doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		block title
			title SELLYOURMODELS - Главная
		link(rel="stylesheet", type="text/css", href="/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="/css/jquery.rating.css")
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		// [if lt IE 9]
		<script src="/js/html5.js"></script>
		// [endif]		
	
	body
		
		block content

		
		script(type="text/javascript", src="/js/libs.min.js")
		script(type="text/javascript", src="/js/custom.js")

