extends include/templates
block title
	title SELLYOURMODELS - Главная
block content	
	// BEGIN BODY 

	div.main-wrapper

		include include/header2

		// BEGIN CONTENT 

		main.content
			div.heading
				div.wrapper
					h2.heading__title Sellyour<strong>models</strong>
					h1.heading__title ONLINE&FAST

			div.wrapper
				div.box-tab
					div.tab-wrap
						ul.nav-tabs-list.tabs
							li.nav-tabs-list__item.active
								a.nav-tabs-list__link(href="#tab_1") Новое в каталоге
							li.nav-tabs-list__item
								a.nav-tabs-list__link(href="#tab_2") Лучшее
							li.nav-tabs-list__item
								a.nav-tabs-list__link(href="#tab_3") Теги
							li.nav-tabs-list__item
								a.nav-tabs-list__link(href="#tab_4") Коллекционные группы

						div.box-tab-cont
							div.tab-cont#tab_1 
								ul.product-list
									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img1.png", alt="")
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img2.png", alt="")
											div.panel
												span.panel__item.panel__item_corona
													span.ic.ic_corona
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img5.png", alt="")
											div.panel
												span.panel__item.panel__item_play
													span.ic.ic_play
												span.panel__item.panel__item_corona
													span.ic.ic_corona
											div.panel.panel_top
												span.panel__item.panel__item_ss
													span ss
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img3.png", alt="")
											
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-one
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img4.png", alt="")
											
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-three
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20


							div.tab-cont.hide#tab_2 
								ul.product-list
									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img1.png", alt="")
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img2.png", alt="")
											div.panel
												span.panel__item.panel__item_corona
													span.ic.ic_corona
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img5.png", alt="")
											div.panel
												span.panel__item.panel__item_play
													span.ic.ic_play
												span.panel__item.panel__item_corona
													span.ic.ic_corona
											div.panel.panel_top
												span.panel__item.panel__item_ss
													span ss
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img3.png", alt="")
											
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-one
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img4.png", alt="")
											
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-three
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20
									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img5.png", alt="")
											div.panel
												span.panel__item.panel__item_play
													span.ic.ic_play
												span.panel__item.panel__item_corona
													span.ic.ic_corona
											div.panel.panel_top
												span.panel__item.panel__item_ss
													span ss
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img3.png", alt="")
											
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-one
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img4.png", alt="")
											
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-three
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20


							div.tab-cont.hide#tab_3 
								ul.product-list
									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img1.png", alt="")
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img2.png", alt="")
											div.panel
												span.panel__item.panel__item_corona
													span.ic.ic_corona
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img5.png", alt="")
											div.panel
												span.panel__item.panel__item_play
													span.ic.ic_play
												span.panel__item.panel__item_corona
													span.ic.ic_corona
											div.panel.panel_top
												span.panel__item.panel__item_ss
													span ss
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img4.png", alt="")
											
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-three
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

							div.tab-cont.hide#tab_4 
								ul.product-list
									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img1.png", alt="")
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img2.png", alt="")
											div.panel
												span.panel__item.panel__item_corona
													span.ic.ic_corona
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img5.png", alt="")
											div.panel
												span.panel__item.panel__item_play
													span.ic.ic_play
												span.panel__item.panel__item_corona
													span.ic.ic_corona
											div.panel.panel_top
												span.panel__item.panel__item_ss
													span ss
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-two
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img3.png", alt="")
											
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-one
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img4.png", alt="")
											
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-three
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20
									li.product-list__item
										div.product-list__img
											a.fancybox(href="#product"): img(src="img/product-img4.png", alt="")
											
										div.product-list__cont
											h6.product-list__title: a(href="#") Editorial Illustrations #2
											div.product-panel
												span.author от:
													a(href="#") Si Maclencel
													span.ic.ic_models-three
												span.product-panel__item
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__downloads
														span 50
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__comments
														span 10
													span.product-panel__icon
														i.product-panel__icon-icon.product-panel__icon-icon__stars
														span 20

					div.banner.banner_horizontal
						a(href="#"): span.banner__title advertising

		// CONTENT EOF	

		include include/footer	

	div.block-pof

	include include/popup
	// BODY EOF  


