extends include/templates
block content	
	// BEGIN BODY 

	div.main-wrapper

		include include/header

		// BEGIN CONTENT 

		main.content
			div.wrapper
				
				
				ul.unstyled(style="margin: 50px;")
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/index.html#") http://alraa.pro/3D/dist/index.html#
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/registration.html#") http://alraa.pro/3D/dist/registration.html#
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/settings.html#") http://alraa.pro/3D/dist/settings.html#
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/brying.html#") http://alraa.pro/3D/dist/brying.html#
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/community.html#") http://alraa.pro/3D/dist/community.html#
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/gallery.html#") http://alraa.pro/3D/dist/gallery.html#
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/model.html#") http://alraa.pro/3D/dist/model.html#
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/support.html#") http://alraa.pro/3D/dist/support.html#
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/articles.html#") http://alraa.pro/3D/dist/articles.html# + шапка авторизованного пользователя
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/catalog.html#") http://alraa.pro/3D/dist/catalog.html#
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/statistica.html#") http://alraa.pro/3D/dist/statistica.html#
					li: a.link.link_warning(href="http://alraa.pro/3D/dist/models.html#") http://alraa.pro/3D/dist/models.html

		// CONTENT EOF	

		include include/footer

	div.block-pof

	include include/popup

	// BODY EOF  


